/* this is universal stuff */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(to top, #ca6262de 0%, #beb1e6 75%); */
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1597599354513-e1e8a3c565cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
    display: block;
    color: rgb(238, 170, 170);
}

/* this is navigation bar  */

.row{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);

}
.logo{
    height: 30px;
    width: 30px;
    margin: 10px;
    display: block;
    float: left;
    border: 2px solid #77b2d8;
    border-radius: 34px;
}
.main-nav li{
    display: block;
    float: right;
    list-style: none;
    text-decoration: none;
    padding-right: 50px;
    padding-top: 15px;
}
.main-nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}
.main-nav li a:hover{
    color: aqua;
}

.clerfix::after{
    content:" ";
    visibility: hidden;
    display: table;
    clear: both;
    
}



/* boddy start here */
header{
    height: 100vh;
}
.main{
    width: 707px;
    left: 0%;
    transform: translate(20%,60%);
}
.main h1{
    color: #6032e9;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 45px;
}
.main p{
    font-size: 30px;
    margin: 10px 0px;
    text-transform: uppercase;
    color: rgb(4, 92, 119);
}
.btn{
    padding :5px;
    text-decoration: none;
    border: 2px solid rgb(130 110 212);
    margin-top: 10px;
    background-color: #3a97e0;
    border-radius: 15px;
}
.btn:hover{
    color: aqua;
}
.me{
    height: 170px;
    width: 145px;
    transform: translate(555%,-40%);
    border: 29px;
    border-radius: 9px;
    z-index: -1;

}




/* this if footer  */
.upper{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 200px;
}
.bottom{
    background-color: rgb(0 0 0 / 86%);
    width: 100%;
    height: 50px;
}
.bottom p{
    color:rgb(240 145 28);;
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
}
.upper .first{
    width: 73%;
    height: 200px;
    display: block;
    float: left;
    /* border: 2px solid red; */
}
.upper .sec{
    display: block;
    width: 27%;
    height: 200px;
    /* border: 2px solid red; */
    float: right;
}
.form,h2{
    margin-left: 40px;
}
.sec h2{
    margin-top: 7px;

}
#name,#mess{    
    margin-top: 12px;
    padding: 3px 3px;
    width: 250px;
}
.first p{
    padding: 20px 40px;
}
.first h3{
    padding :10px 40px; 
    text-transform: uppercase;
    color: white;
}
.imgs{
    margin-left: 40px;
    width: 20px;
    height: 20px;
    /* background-color: white; */
}
.two{
    margin-left: 10px;
}
